
@{
    ViewBag.Title = "WhyMember";
}


<style>

    h1{
        color: red;

    }
    .whymemberimg {
        max-width: 100%;


    }

    .whymemberparagraph {
        background-color:#975ab6;
        color: white;
 padding: 6%;
    }
    .hr-li {
        color: #975ab6;
        border: 3px solid #ffffff;
        border-radius: 20px;
        width: 100%;
        background: blue;
        position: relative;
    }
  .ourpurpose .ourourpose-list{
      line-height:1.5;
      padding: 3%;
      font-size: 2rem;
      font-weight:600;
  }


/*using of media query */
    @@media (max-width:1000px) {


     



















        .navbar {
            padding: 0 5% 0 5%;
        }

        .nav-link {
            font-size: 1.1rem;
        }

        .nav-img {
            width: 18%;
            border-radius: 100%;
            display: inline;
        }

        .custom-toggler {
            padding-top: 5%;
        }

        .search-form {
            margin: 1.3rem -0.5rem;
        }

        #about .container-fluid {
            padding: 0 4%;
        }

        .about-container img {
            width: 100%;
            margin-bottom: 6%;
        }

        .about-paragraph {
            font-size: 1rem;
        }

        #ourteam .container-fluid {
            padding: 0 5%;
        }

        .chef-image {
            width: 100%;
        }

        .review-head {
            padding-top: 8%;
        }

        .testimonial-text {
            font-size: 0.8rem;
        }

        .footer-p {
            padding: 7% 0;
        }

        .copyright {
            font-size: 0.7rem;
            display: inline;
        }
    }
</style>

<body>




    <div>

        <img src="~/Images/dancers9.jpg" alt="Loading images" class="whymemberimg">

    </div>



    <div class="row ">

        <div class="col-lg-6">

            <div class="whymemberparagraph">
                <h1>
                    WHY JOIN AS A MEMBER?
                    <hr class="hr-li" />


                </h1>

                <ul class="ourpurpose">
                    <li class="ourourpose-list ">
                        Educational events designed for you!
                    </li>

                    <li class="ourourpose-list ">

                        Networking with  colleagues

                    </li>



                    <li class="ourourpose-list ">


                        Making connections

                    </li>

                    <li class="ourourpose-list ">

                        Exploring teaching techniques

                    </li>

                    <li class="ourourpose-list ">

                        Peer support provided

                    </li>





                </ul>

            </div>

        </div>


        <div class="col-lg-6">

            <p>
                The West Australian Classical Ballet
                Teachers' Association was created with
                the primary purpose of enhancing the
                teaching of classical ballet in WA
                through the sharing of knowledge.   We
                believe strongly in the value of life-long
                learning, and we aim to provide you with
                opportunity to learn about different
                ways of doing things, and to share
                strategies you have found to be
                successful with others.

                As a member, you will be able to access
                informative, interactive and interesting
                educational sessions at discounted rates.
                See page 2 for more details
            </p>


        </div>



    </div>
</body>