@{
    ViewBag.Title = "About";
}
<link href="~/Content/homepage.css" rel="stylesheet" />



<div>     <img src="~/Images/coverimage1.png" class="allpageimg" />                  </div>


<div class="container-fluid row about-container">

    <h1 class="about-head"> About US </h1>
    <hr class="blueline" />
    <br />

    <br />
    <div class="col-lg-6 about">
        <h3 class="about-subhead"> PURPOSE AND OBJECTIVES  </h3>

        <p>
            The West Australian Classical Ballet Teachers Association Inc. (CBTA) came into being in 2021, as the
            brainchild of two eminent Perth teachers, Terri Charlesworth and Diana de Vos. It was registered an
            incorporated not-for-profit entity in November 2021.

            Its primary purpose is to raise the standard of classical ballet teaching in Western Australia through
            the sharing of knowledge. The two main specific objectives by which it plans to achieve its purpose
            are:
            <ul>
                <li>
                    To facilitate, foster and encourage connections, educational events, engagement
                    opportunities and networks for classical ballet teachers in Western Australia.
                </li>
                <li>
                    To encourage the professionalisation of classical ballet teachers in WA

                </li>
            </ul>
        </p>
        <p>
            The West Australian Classical Ballet Teachers Association Inc. (CBTA) offers educational events and
            engagement opportunities for its members.  Click here for the current programme schedule. <a href="/home/Educationalprogramme" class=" "> Educational programme schedule. </a>

            <br />
            <br />
            <br />
           
        </p>
    </div>




    <div class="col-lg-6 about">


        <div class="aboutimg-container">

            <img src="~/Images/dancer4.jpg" alt="Alternate Text" class="about-img" />

        </div>
    </div>

</div>


<div class="row container-fluid">


    <div class="col-lg-6 about">
        <img src="~/Images/dancers.jpg" alt="Alternate Text" class="about-img" />


    </div>
    <div class="col-lg-6 about">
        <h3 class="about-subhead">     OUR MANAGEMENT COMMITTEE  </h3>

        <p>
            The CBTA is administered by a volunteer Management Committee.  Current members of the
            Committee are:
            <h4>      Office Holders </h4>
            <ol>


                <li> Chairperson: Diana de Vos  </li>
                <li> Vice Chairperson: Helene Gowers  </li>
                <li>   Secretary: Robyn Cooper  </li>
                <li> Treasurer: Shelley Yacopetti  </li>

            </ol>

            <h3> Committee Members:  </h3>
            <ul>
                <li>   Suzanne Arrigo  </li>
                <li>  Jessica Booth  </li>
                <li>          Terri Charlesworth        </li>
                <li>     Bethany Fimmel </li>
                <li>
                    Fiona Oliver
                </li>

            </ul>
            </p>
            <p> 
            Our aim is to provide support and training for teachers who wish to improve, update or deepen their
            knowledge, skills and experience in their ballet teaching practice.   We see it as an important part of
            our charter to assist our members to attain both a theoretical and a practical understanding of
            recognised best practices in teaching, training and development of their students.

        </p>
    </div>



</div>