@{
    ViewBag.Title = "Home Page";
}

<link href="~/Content/homepage.css" rel="stylesheet" />
<body>

    

    <div id="cbtacrousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#cbtacrousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#cbtacrousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#cbtacrousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item ">
                <img src="~/Images/4 little girls.jpeg" class="d-block w-100 img-fluid slider-img img-responsive" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h2> We Love What WE Do</h2>
                    <p1> Welcome to the West Australian Classical Ballet Teachers’ Association Inc. (CBTA) </p1>
                </div>
            </div>
            <div class="carousel-item active">
                <img src="~/Images/coverimage1.png" class="d-block w-100 slider-img" alt="..." >
                <div class="carousel-caption d-none d-md-block">
                    <h2>Welcome to the West Australian Classical Ballet Teachers’ Association Inc. (CBTA) </h2>
                    <p1> CBTA is a professional association for classical ballet , dedicated to enhancing the quality of classical ballet teaching in Western Australia through collectively sharing knowledge and best practices in teaching..</p1>
                    <p1><a href="/home/about" class="btn btn-primary btn-lg"> Learn more  &raquo;</a></p1>
                </div>
            </div>
            <div class="carousel-item">
                <img src="~/Images/coverimage2.png" class="d-block w-100 slider-img" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h2>Our Purpose </h2>
                    <p1>
                        Education <>
                        Engagement<>
                        Connections<>
                        Peer support<>
                    </p1>
                    <p1><a href="/member/becomingmember" class="btn btn-primary btn-lg"> Become a Member Now &raquo;</a>                         <a href="/Account/Register" class="btn btn-danger btn-lg"> Already a Member &raquo;</a>

                    </p1>
                </div>                  
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#cbtacrousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#cbtacrousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>








    <div class="container-fluid">

        <div>
            <h2 style="text-align:center;"> UPcoming Events </h2>

        </div>


        <div class="row">


            <div class="col-lg-4">
                <div class="card">
                    <img src="~/Images/smallcover.jpg" class="card-img-top" alt="..." width="400px" height="400px">
                    <div class="card-body">
                        <h5 class="card-title"> WACBTA First WEBINAR</h5>
                        <p class="card-text"> Testing of Events </p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"> <strong> Guest Speaker:</strong>  Mr. Shyam Sundar Aacharya </li>
                        <li class="list-group-item"> <strong> Price:</strong> $45       </li>
                        <li class="list-group-item">  <strong> Time:</strong>  4:30pm  </li>
                        <li class="list-group-item"> <strong>  Date:</strong> 22th jan 2022 </li>
                        <li class="list-group-item"> <strong>  Duration:</strong>  2hrs </li>
                    </ul>
                    <div class="card-body">
                        <a href="#" class="card-link btn btn-warning"> Buy Ticket Now </a>
                        <a href="#" class="card-link btn btn-info">See All UPcoming Events </a>
                    </div>
                </div>


            </div>

            <div class="col-lg-4">

                <div class="card">
                    <img src="~/Images/dancers.jpg" class="card-img-top" alt="..." width="400px" height="400px">
                    <div class="card-body">
                        <h5 class="card-title"> WACBTA First WEBINAR</h5>
                        <p class="card-text"> Testing of Events </p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"> <strong> Guest Speaker:</strong>  Mr. Shyam Sundar Aacharya </li>
                        <li class="list-group-item"> <strong> Price:</strong> $45       </li>
                        <li class="list-group-item">  <strong> Time:</strong>  4:30pm  </li>
                        <li class="list-group-item"> <strong>  Date:</strong> 22th jan 2022 </li>
                        <li class="list-group-item"> <strong>  Duration:</strong>  2hrs </li>
                    </ul>
                    <div class="card-body">
                        <a href="#" class="card-link btn btn-warning"> Buy Ticket Now </a>
                        <a href="#" class="card-link btn btn-info">See All UPcoming Events </a>
                    </div>
                </div>

            </div>







            <div class="col-lg-4">

                <div class="card">
                    <img src="~/Images/dancers10.jpg" class="card-img-top" alt="..." width="400px" height="400px">
                    <div class="card-body">
                        <h5 class="card-title"> WACBTA First WEBINAR</h5>
                        <p class="card-text"> Testing of Events </p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"> <strong> Guest Speaker:</strong>  Mr. Shyam Sundar Aacharya </li>
                        <li class="list-group-item"> <strong> Price:</strong> $45       </li>
                        <li class="list-group-item">  <strong> Time:</strong>  4:30pm  </li>
                        <li class="list-group-item"> <strong>  Date:</strong> 22th jan 2022 </li>
                        <li class="list-group-item"> <strong>  Duration:</strong>  2hrs </li>
                    </ul>
                    <div class="card-body">
                        <a href="#" class="card-link btn btn-warning"> Buy Ticket Now </a>
                        <a href="#" class="card-link btn btn-info">See All UPcoming Events </a>
                    </div>
                </div>

            </div>
        </div>





    </div>

</body>








